.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-areas: "left image info";
  gap: 32px;
  width: 100%;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.thumb {
  width: 200px;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ebebeb;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.thumb:hover img {
  transform: scale(1.1);
}

.imageWrap.mui {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 548px;
  border-radius: 12px;
  aspect-ratio: 548 / 572;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.imageWrap.mui:hover .mainImage {
  transform: scale(1.8);
}

.info.mui {
  grid-area: info;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 548px;
}

.title.mui {
  font-family: "Montserrat";
  color: #282828;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1.2px;
  margin-bottom: 32px;
}

.prices.mui {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  align-items: baseline;
}

.newPrice.mui {
  font-family: "Montserrat";
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

.oldPrice.mui {
  font-family: "Montserrat";
  color: #8b8b8b;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: line-through;
}

.badge.mui {
  color: #fff;
  background-color: #0d50ff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.6px;
  align-self: flex-start;
  padding: 4px 8px;
  border-radius: 6px;
}

.controls.mui {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 32px;
}

.counter {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-left: -7px;
}

.quantityCounter.mui.styleСlash {
  color: #282828;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  width: 96px;
  height: 58px;
  border: 1px solid #ddd;
  margin-left: -8px;
  border-left: none;
  border-right: none;
}

.quantityMinus.mui {
  height: 58px;
  padding: 17px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-width: 58px;
}

.quantityPlus.mui {
  height: 58px;
  padding: 17px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-left: -8px;
  min-width: 58px;
}

.description.mui {
  font-family: "Montserrat";
  color: #282828;
  font-size: 16px;
  line-height: 1.3;
  max-height: 120px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded.mui {
  max-height: none;
}

.readMore.mui {
  background: none;
  border: none;
  color: #0d50ff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  margin-bottom: 16px;
}

.addButton.mui {
  font-family: "Montserrat";
  padding: 16px 32px;
  border-radius: 6px;
  text-transform: none;
}

.descTitle.mui {
  color: #282828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 8px;
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "left image"
      "info info";
  }

  .info {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "left"
      "info";
    height: auto;
  }

  .imageWrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .left {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .mainImage {
    height: auto;
  }
}
