.item.mui {
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;
  align-items: start;
  gap: 32px;
  border-radius: 12px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-right: 1px solid #ddd;
}

.info {
  flex: 1;
  padding: 32px;
  position: relative;
}

.titleWrapper.mui {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title.mui {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  /* display: "-webkit-box";
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.prices {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.newPrice.mui {
  color: #282828;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
}

.oldPrice.mui {
  color: #8b8b8b;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: line-through;
}

.removeBtn {
  margin-left: auto;
}

@media (max-width: 1200px) {
  :global(.quantityButtons.mui) {
    width: auto !important;
  }
}

@media (max-width: 768px) {
  .item.mui {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .image {
    border-right: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .info {
    padding: 16px;
  }

  .controls {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
